/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin-top: clamp(0.5rem, 6vw, 6rem);
    margin-left: clamp(0.5rem, 10vw, 13rem);
    margin-right: clamp(0.5rem, 10vw, 13rem);
}

img,
svg {
    max-width: 100%;
    display: block;
}

/* Navbar */
.navbar {
    margin-bottom: clamp(1.5em, 6vw, 2.5em);
}

.nav-item {
    margin-left: 1rem;
    font-size: clamp(1em, 1vw, 1.25em);
}

.collapse {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.greyBg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.navbar-toggler-icon {
    border: none;
    z-index: 2;
    position: relative;
    transition: 100ms;
}

.ham {
    background-image: url("/assets/images/icon-menu.svg");
    width: 2em;
}

.cross {
    background-image: url("/assets/images/icon-menu-close.svg");
}

#menuItems {
    margin-bottom: 0.5em;
}

.navbar-collapse {
    background-color: #fff;
    width: 100px;
    transition: height 65ms ease-in-out;
}

@media (max-width:768px) {
    .navbar-collapse {
        position: fixed;
        padding-top: 6em;
        margin: 0;
        top: 0;
        right: 0;
        width: 65%;
        height: 100%;
        z-index: 1;
        background-color: #fff;
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .nav-link {
        font-size: 1.2em;
        font-weight: 500;
        color: hsl(240, 100%, 5%);
        line-height: 1.7;
    }

    .navbar-nav {
        margin-top: 3em;
    }

    #logo {
        height: 2em;
    }
}


@media (min-width:768px) {
    .greyBg {
        background: none;
    }
}

/* CONTENT SECTION */

.col {
    max-height: 32.9em;
}

.main-section {
    height: fit-content;
}

/* section with big img */
.main-section-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.main-img {
    width: 100%;
    grid-column: span 2;
}

/* header section */
.heading-text {
    font-size: 3.4em;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    line-height: 1.1;
}

.up-btn-section {
    color: hsl(236, 13%, 42%);
}

/* btn customization */
.btn {
    margin-top: 1.2em;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    border-radius: 0;
    min-width: 55%;
    height: clamp(0.5rem, 6vw, 3rem);
    letter-spacing: 0.25em;
}

.btn:hover {
    background-color: hsl(5, 85%, 69%);
    color: hsl(36, 100%, 99%);
}

/* news section */
.white-padding-news {
    margin: 0 0.5em;
    background-color: hsl(240, 100%, 5%);
}

.news-section {
    background-color: #fff;
}

.news-container {
    padding: 2em 1.3em;
}

#new {
    font-size: 2.3em;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
    margin-bottom: 1em;
}

.news-title {
    font-size: 1.3em;
    color: hsl(36, 100%, 99%);
    line-height: 1.8;
}

.news-text {
    color: hsl(233, 8%, 79%);
}

hr {
    margin: 1.5em 0;
    color: #fff;
    border-width: 2px;
}



.topic-section {
    background-color: lightskyblue;
}